/* Navigation CSS */

#navigation {
    background-color:darkblue;
    border-radius:4px;
}

#navigation a {
    font-size:16px;
    color:white;
}

#navigation a:hover {
    color:cornsilk;
}

#navigation li:nth-last-child(1) {
    background:red;
    border-radius:4px;
}

/* Login CSS */

.login-form-left {
    border-right:1px solid gray;
    height:500px;
    float:left;
    text-align:center;
}

.login-form-left img {
    vertical-align:middle;
    padding-top:150px;
}

.login-form-right {
    float:right;
}

.login-form input {
    border:0px solid;
    border-bottom:1px solid;
    border-radius:0px;
}

.login-form .form-control:focus {
    border-color:inherit;
    -webkit-box-shadow:none;
    box-shadow:none;
}

/* Signup CSS */

.signup-form-left {
    border-right:1px solid gray;
    height:500px;
    float:left;
    text-align:center;   
}

.signup-form-left img {
    vertical-align:middle;
    padding-top:150px;
}

.signup-form-right {
    float:right;
}

.signup-form input {
    border:0px solid;
    border-bottom:1px solid;
    border-radius:0px;
}

.signup-form .form-control:focus {
    border-color:inherit;
    -webkit-box-shadow:none;
    box-shadow:none;
}

/* Forgot Password CSS */

.forgot-password-form-left {
    border-right:1px solid gray;
    height:500px;
    float:left;
    text-align:center;
}

.forgot-password-form-left img {
    vertical-align:middle;
    padding-top:150px;
}

.forgot-password-form-right {
    float:right;
}

.forgot-password-form input {
    border:0px solid;
    border-bottom:1px solid;
    border-radius:0px;
}

.forgot-password-form .form-control:focus {
    border-color:inherit;
    -webkit-box-shadow:none;
    box-shadow:none;
}

/* Regsiter CSS */

.register-form-left {
    border-right:1px solid gray;
    height:500px;
    float:left;
    text-align:center;
}

.register-form-left img {
    vertical-align:middle;
    padding-top:150px;
}

.register-form-right {
    float:right;
}

.register-form input {
    border:0px solid;
    border-bottom:1px solid;
    border-radius:0px;
}

.register-form .form-control:focus {
    border-color:inherit;
    -webkit-box-shadow:none;
    box-shadow:none;
}

.register-form input[type="email"][disabled] {
    background-color:white;
}

/* Reset Password CSS */

.reset-password-form-left {
    border-right:1px solid gray;
    height:500px;
    float:left;
    text-align:center;
}

.reset-password-form-left img {
    vertical-align:middle;
    padding-top:150px;
}

.reset-password-form-right {
    float:right;
}

.reset-password-form input {
    border:0px solid;
    border-bottom:1px solid;
    border-radius:0px;
}

.reset-password-form .form-control:focus {
    border-color:inherit;
    -webkit-box-shadow:none;
    box-shadow:none;
}

/* All Tickets React Table CSS */

.ReactTable {
    border:0px;
}

/* React Table CSS */

.rt-thead.-header {
    font-weight:900;
    background-color:darkblue;
    color:white;
    border-radius:4px;
}

.ReactTable .rt-thead .rt-th.-sort-asc {
    box-shadow:inset 0 3px 0 0 white
}

.ReactTable .rt-thead .rt-th.-sort-desc {
    box-shadow:inset 0 -3px 0 0 white
}

.ReactTable .pagination-bottom {
    border-radius:4px;
}

/* .rt-tr-group:nth-child(even) {

} */

.pagination-bottom {
    background-color:darkblue;
    color:white;
}

.-pagination .-previous {
    border:1px solid white;
    border-radius:1px;
}

.-pagination .-next {
    border:1px solid white;
    border-radius:1px;
}

.pagination-bottom .-pagination .-previous .-btn {
    color:white;
}

.pagination-bottom .-pagination .-next .-btn {
    color:white;
}

/* Form CSS */

.fileContainer {
    border:1px solid black;
}
